# Datos de Pihole
pihole/etc-pihole/
pihole/etc-dnsmasq.d/

# Datos de Uptime Kuma
uptime-kuma/uptime-kuma-data/

# Datos de Convertx
convertx/data/

# Datos de Heimdall
heimdall/config/

# Datos de Portainer
portainer/portainer_data/

# Configuraciones de apps (solo docker-compose se trackea)
prowlarr/config.xml
prowlarr/Definitions/
radarr/config.xml
sonarr/config.xml

# Reglas generales para carpetas de datos comunes
*/data/
*/config/
*.db
*.db-shm
*.db-wal
*.log
*.pid
*.txt
*.debug*
*/logs/
*/Backups/
*/asp/
/jellyfin
