services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: "host"
    # IMPORTANTE: En modo host, Pi-hole usará el DNS del sistema operativo para arrancar.
    # Asegúrate de que tu Raspberry Pi tenga la hora correcta antes de iniciar.
    environment:
      - TZ=America/Caracas
      - FTLCONF_LOCAL_IPV4=192.168.1.120
      - DNSMASQ_LISTENING=all
      - MAXCONNV=1000000
      - PIHOLE_DNS_=127.0.0.1#5335 # Apunta directamente a Unbound en el host
    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - SYS_NICE
      - SYS_TIME
      - NET_ADMIN
    labels:
      - "homepage.group=Seguridad"
      - "homepage.name=Pi-hole"
      - "homepage.icon=pi-hole.png"
      - "homepage.href=http://192.168.1.120/admin"
      - "homepage.description=DNS Sinkhole"
    restart: unless-stopped
