services:
  convertx:
    image: ghcr.io/c4illin/convertx
    container_name: convertx
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=aLongAndSecretStringUsedToSignTheJSONWebToken1234 # will use randomUUID() if unset
      # - HTTP_ALLOWED=true # uncomment this if accessing it over a non-https connection
    volumes:
      - ./data:/app/data
    labels:
      - "homepage.group=Herramientas"
      - "homepage.name=ConvertX"
      - "homepage.icon=convertx.png"
      - "homepage.href=http://192.168.1.120:3000"
      - "homepage.description=Conversor de archivos"
